<template name="HomePrivate">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<h2 id="page_title" class="pull-left">
					Welcome {{userFullName}}!
				</h2>
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		<p id="page_text">
			<p>... Place for personal virtual lab here [TODO]...<br /><br />What can you do?<br /><ul><li>Add SiLA devices to your virtual lab</li><li>Share and discover SiLA devices in your network</li><li>Connect multiple SiLA devices (or SiLA drivers for non-SiLA devices)</li><li>Run Methods and call SiLA Commands on any device in your virtual lab</li></ul><br /><br />Contribute? Source code is <a href="https://github.com/ebastidas/sila" target="_blank">here</a>.</p>
		</p>
	</div>
</template>

